<footer id="footer">
    {{/*  
    {{ if .Site.Params.Social }}
        {{ partial "social.html" . }}
    {{ end }}
  */}}
    <div class="copyright">
    {{ with .Site.Params.copyright }}
        {{ . | markdownify }}
    {{ else }}
       Copyright &copy;
       {{ now.Format "2006"}} 
       <span class="split">
        
       </span>
       {{ .Site.Params.Author }}
    {{ end }}
    </div>

    {{ if ne .Site.Params.showPowerBy false }}
      <div class="powerby">
        {{ i18n "poweredBy" | safeHTML }}
      </div>
    {{ end }}
</footer>

{{ range .Site.Params.customJS }}
    {{- $href := urls.Parse . -}}
    {{ if $href.IsAbs }}
      {{/*  Remote resources  */}}
      {{ with resources.GetRemote $href }}
        {{ with .Err }}
          {{ errorf "%s" . }}
        {{ else }}
        <script src="{{ .RelPermalink }}"></script>    
        {{ end }}
      {{ else }}
        {{ errorf "Unable to get remote resource %q" $href }}
      {{ end }}    
    {{ else }}
      {{/*  Local JS  */}}
      {{ with resources.GetMatch . }}
        <script src="{{ .RelPermalink }}"></script>
      {{ end }}
    {{ end }}
{{ end }}