<nav class="navigation">
	{{ if not .IsHome }}
		<a href="{{ site.Home.Permalink }}"> <span class="arrow">←</span>{{ with site.Params.home }}{{ . }}{{ else }}{{ i18n "home" }}{{ end }}</a>
	{{ end }}
	{{ with site.Menus.main }}
		{{ range . }}
			<a href="{{ .URL }}">{{ or (T .Identifier) .Name | safeHTML }}</a>
		{{ end }}
	{{ end }}

	{{ range $element := site.Params.Links }}
		<a href="{{ $element.path }}">{{ $element.name }}</a>
	{{ end }}

	{{ if site.Params.enableRSS }}
		<a class="button" href="{{ with .OutputFormats.Get "rss" }} {{ .Permalink }}{{ end }}">{{ with site.Params.subscribe }}{{ . }}{{ else }}{{ i18n "subscribe" }}{{ end }}</a>
	{{ end }}
</nav>
