<header class="profile">
    {{ if .Site.Params.avatarLink }}
        <a href="{{ .Site.Params.avatarLink }}">
          {{ with resources.GetMatch "images/avatar.png" }}
            <img class="avatar" alt="avatar" src="{{ .RelPermalink }}" />
          {{ end }}
        </a>
    {{ else }}
        <img class="avatar" alt="avatar" src="{{ "/images/avatar.png" | relURL }}" />
    {{ end }}

    <h1>{{ .Site.Title }}</h1>
    
    {{ with .Site.Params.Bio }}
      <h2>{{ . | markdownify }}</h2>
    {{ end }}
</header>